<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="col-4">
                    <mat-card>
                        <img mat-card-image src="../../assets/eventBasketBall.jpg">
                        <mat-card-header>
                            <mat-card-title>Basket Match</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <p>
                              Evenemang Placeholder Text
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>
                                  Delta
                              </button>
                          </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card>
                        <img mat-card-image src="../../assets/eventRunning.jpeg">
                        <mat-card-header>
                            <mat-card-title>Löpning</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <p>
                              Evenemang Placeholder Text
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>
                                  Delta
                              </button>
                          </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card>
                        <img mat-card-image src="../../assets/eventPluggGrupp.jpeg">
                        <mat-card-header>
                            <mat-card-title>Plugg Grupp</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <p>
                              Evenemang Placeholder Text
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>
                                  Delta
                              </button>
                          </mat-card-actions>
                    </mat-card>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-card>
                        <img mat-card-image src="../../assets/eventCamping.jpeg">
                        <mat-card-header>
                            <mat-card-title>Camping</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <p>
                              Evenemang Placeholder Text
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>
                                  Delta
                              </button>
                          </mat-card-actions>
                    </mat-card>
                </div>
                <div class="col-4">
                    <mat-card>
                        <img mat-card-image src="../../assets/eventStadsvandring.png">
                        <mat-card-header>
                            <mat-card-title>Stadsvandring</mat-card-title>
                          </mat-card-header>
                          <mat-card-content>
                            <p>
                              Evenemang Placeholder Text
                            </p>
                          </mat-card-content>
                          <mat-card-actions>
                              <button mat-button>
                                  Delta
                              </button>
                          </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="row minaEvent" style="align-items: center; justify-content: center;">
                <p>Mina event</p>
            </div>
            <div class="row minaEvent">
                <p>Programmering<br/><br/>21/3 14:30</p>
            </div>
            <div class="row minaEvent">
                <p>Fotboll<br/><br/>25/3 18:30</p>
            </div>
            <div class="row minaEvent">
                <p>Matte plugg<br/><br/>27/3 11:30</p>
            </div>
        </div>
    </div>
</div>