mat-form-field {
  width: 100%;
}

textarea {
  width: 100%;
  height: 8vh;
}

mat-card {
  border: 1px solid black;
}

hr {
  border: 1px solid black;
}

.bottom-right{
  position:absolute;
  right:50px;
  bottom:50px;
}

.padding-button{
  padding: 10px;
}
